# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Libraries
node_modules

# Build
build
dist-ssr

# System files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Local env files
*.local

# Sonar
sonar-project.properties
.scannerwork

# Cached files
yarn.lock
package-lock.json
